.card-img-1{
    background-image: url('assets/promo_iphone14pro_spring__c7pyovk04j2a_large.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.card-img-2{
    background-image: url('assets/promo_ipadpro_refresh__evi9utuixwuq_large.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.card-img-3{
    background-image: url('assets/promo_apple_watch_series_8_spring__d9hfvufh7hyu_large.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.card-img-4{
    background-image: url('assets/promo_apple_vision_pro__f4v4zp0sum2y_large.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.card-img-5{
    background-image: url('assets/iphone_tradein_promo__d5au3rkw5kuq_large.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.card-img-6{
    background-image: url('assets/tile__cauwwcyyn9hy_large.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.macbook{
    background-image: url('assets/hero_macbook_air_15_midnight__ct0pgwizvree_large.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.iphone-img{
    background-image: url('assets/hero_iphone14_yellow__eun20sn4imi6_large.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .macbook {
      background-image: url('assets/macbook-small.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    .iphone-img{
      background-image: url('assets/iphone-small.png');
      background-repeat: no-repeat;
      background-position: center;
    }
}


.card-img-1, .card-img-2, .card-img-3, .card-img-4, .card-img-5, .card-img-6{
    height: 80vh;
}

.list-comp li{
    line-height: 3.5vh;
    font-size: 13px;
}

.light-bold{
    font-weight: 600;
}

.anchor{
    text-decoration: none;
}

.anchor:hover{
    text-decoration: underline;
}

.united{
    text-decoration: none;
    color: gray;
}
.united:hover{
    text-decoration: underline;
}

li{
    color: gray;
}

li a{
    text-decoration: none;
    color: grey;
}

li a:hover{
    text-decoration: underline;
    color: grey;
}